.header {
  background-color: #50514F;
  color: #fff;
}
.header__inner, .content {
  padding: 50px 20px;
  max-width: 1000px;
  margin: 0 auto;
}
.content  {
  padding-top: 20px;
}
img {
  max-width: 100%;
}
.user, .repositories, .issues {
  padding: 1rem;
}
.user, .repositories {
  width: 25%;
}
.issues {
  width: 50%;
}
button {
  background-color: #F25F5C;
  border: none;
  outline: none;
  color: #fff;
}
.repo-autocomplete__item {
  padding: 5px 0px 5px 20px;
  cursor: pointer;
}
.repo-autocomplete__item:hover {
  background-color: #dfdfdf;
}
.repo-autocomplete__item.focus {
  background-color: #F25F5C;
}
.repo-card {
  border: 1px solid grey;
  padding: 40px 15px;
}
.repo-card__update > span {
  display: block;
}
.repo-card__name {
  text-decoration: none;
  font-size: 24px;
  color: #247BA0;
  margin-bottom: 4px;
  display: block;
}
.repo-card__description {
  font-size: 14px;
  margin-bottom: 8px;
}
.repo-card__update {
  font-size: 12px;
  color: #555;
  margin-top: -17px;
  text-align: right;
}
.repo-card__language {
  background: #FFE066;
  color: rgba(0,0,0, .9);
  padding: 2px 15px;
  display: inline-block;
  border-radius: 0 4px 4px 0;
}
.repo-autocomplete {
  padding-left: 0px;
  margin-top: 0;
  position: absolute;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
  text-align: left;
  border: 1px solid #222;
  width: 330px;
  box-sizing: border-box;
  background-color: #fff;
  display: none;
  color: #333;
}
.repo-autocomplete.active {
  display: block;
}
.issues__count input {
  min-height: 25px;
  box-sizing: border-box;
}
.issues-btn {
  padding: 5px 15px;
  border-radius: 3px;
  min-height: 25px;
}
.issue-list {
  padding-top: 20px;
  padding-bottom: 20px;
}
.issue-card {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  min-height: 50px;
  /* border-left: 4px solid #70C1B3; */
  padding-left: 10px;
}
.issue-card__date {
  font-size: 14px;
  color: #555;
  font-style: italic;
}
.issue-card__date-label {
  font-style: normal;
}
.issue-card__title {
  color: #247BA0;
  text-decoration: none;
  margin-bottom: 3px;
  display: block;
}
.issue-card__number {
  /* color: #333; */
  font-weight: bolder;
  margin-right: 5px;
}
.issues-btn.issues-btn--filter {
  border-radius: 0 3px 3px 0;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.issues__status .issues-btn {
  margin-right: 10px;
}
.issues__count {
  margin-right: 20px;
}
.issues__count input {
  width: 50px;
}
.App-intro {
  font-size: large;
}
.search-issue__fieldset {
  margin-right: 15px;
  
}
.search-issue__submit,
.logo {
  display: block;
  margin-top: 22px;
  height: 40px;
}

.user-card__img {
  margin-bottom: 10px;
}
.user-card__name {
  font-size: 24px;
  margin-bottom: 2px;
}
.user-card__login {
  font-size: 18px;
  color: #666;
  opacity: .8;
  margin-bottom: 10px;

}

.user-card__activity > div {
  display: flex;
}
.user-card__marker {
  background: #50514F;
  height: 40px;
  color: #fff;

  text-align: center;
  line-height: 40px;
}
.user-card__marker, .user-card__activity > div > span {
  flex: 1;
  border: 1px solid #fff;
  background: #50514F;
}
.user-card__marker {
  flex-grow: 2;
}
.user-card__activity > div > span {
  background: #70C1B3;
  line-height: 40px;
  text-align: center;
  color: #333;
}

.issue-card__state {
  padding: 2px 15px;
  border-radius: 3px;
  /* color: rgba(31,45,61, 1); */
  color: green;
  /* background-color: #70C1B3; */
  border: 1px solid currentColor;
  display: inline-block;
  /* margin-right: 10px; */
  margin-left: 12px;
}
.user-card__link {
  color: #247BA0;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}
.logo a {
  line-height: 40px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.search-issue__submit {
  width: 100px;
  font-size: 22px;
}
.search-issue__title,
.search-issue__field {
  display: block;
  margin-bottom: 5px;
}
.search-issue__field {
  box-sizing: border-box;
  width: 330px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  padding: 0 15px;
  margin-bottom: 0;
}
.btn-load-more {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__inner,
.issues__filters,
.content, .search-issue{
  display: flex;
  align-items: flex-start;
}
.search-form {
  margin-left: auto;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.cssload-jumping{
	position:relative;
	display:block;
	margin: 97px auto;
	width:107px;
}
	
.cssload-jumping, .cssload-jumping * {
	box-sizing: border-box;
}

.cssload-jumping span {
	display: inline-block;
	height: 15px;
	width: 15px;
	background: rgb(242,95,92);
	border-radius: 487px;
	background-clip: padding-box;
		-o-background-clip: padding-box;
		-ms-background-clip: padding-box;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
}

.cssload-jumping span:nth-child(1) {
	animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(2) {
	animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(3) {
	animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(4) {
	animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(5) {
	animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}



@keyframes scale {
	0% {
		transform: scale(0);
	}
	25% {
		transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		transform: scale(0);
	}
}

@-o-keyframes scale {
	0% {
		-o-transform: scale(0);
	}
	25% {
		-o-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-o-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-o-transform: scale(0);
	}
}

@-ms-keyframes scale {
	0% {
		-ms-transform: scale(0);
	}
	25% {
		-ms-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-ms-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-ms-transform: scale(0);
	}
}

@-webkit-keyframes scale {
	0% {
		-webkit-transform: scale(0);
	}
	25% {
		-webkit-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-webkit-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-webkit-transform: scale(0);
	}
}

@-moz-keyframes scale {
	0% {
		-moz-transform: scale(0);
	}
	25% {
		-moz-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-moz-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-moz-transform: scale(0);
	}
}